<?xml version="1.0"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find wadribie_gazebo)/worlds/testhouse.world"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
    </include>

    <include file="$(find wadribie_gazebo)/launch/spawn_wadribie.launch"/>
</launch>
