<?xml version="1.0"?>
<launch>
    <node name="move_base_flex" pkg="mbf_costmap_nav" type="mbf_costmap_nav" output="screen">
        <rosparam file="$(find wadribie_navigation)/config/planners.yaml" command="load" />
        <rosparam file="$(find wadribie_navigation)/config/controllers.yaml" command="load" />
        <!--
        <rosparam file="$(find wadribie_navigation)/config/recovery_behaviors.yaml" command="load" />
        -->

        <rosparam file="$(find wadribie_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find wadribie_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find wadribie_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find wadribie_navigation)/config/local_costmap_params.yaml" command="load" />
    </node>
</launch>
